#contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-form-container {
    max-height: 575px;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    width: 90%;
    border: 1px solid rgb(218, 223, 224);
    box-shadow: 0px 0px 6px 0px rgb(77, 207, 230);
    /* background-color: rgb(200, 236, 245); */
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    background-color: #77f77f;
    color: #03a80e;
    width: 100%;
    margin: 3px;
    padding: 7px;
    text-align: center;
}

.gallery {
    margin: 10px;
    background-color: rgb(18, 241, 204);
    padding: 10px;
    border-radius: 5px;
    width: 47.5%;
    float: left;
    border: 2px solid rgb(5, 141, 118);
}

.gallery div i {
    margin-right: 8px;
}

.renderOptionImg {
    width: 150px;
    height: 150px;
    border: 4px solid #1d44f5;
    margin-bottom: 0;
}

.renderOptionTitle {
    width: 150px;
    overflow-x: auto;
    height: auto;
    background-color: #1d44f5;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dashboard-product-container div {
    background-color: #8bf2f7;
    color: #048187;
    width: 95%;
    float: left;
    margin: 2px;
    /* background-color: rgb(18, 241, 204); */
    padding: 7px;
    border-radius: 5px;
}

.dashboard-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardRenderOptionImg {
    width: 400px;
    height: 400px;
    border: 2px solid #048187;
    margin-bottom: 0;
}

.buttonAnchor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d44f5;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.buttonAnchor:hover {
    opacity: 0.8;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-thumb {
    background-color: #0f1ef8;
    border-radius: 50px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0f1ef883;
}

/* media queries */
@media (max-width: 1000px) {
    .dashboard-form-container {
        width: 95%
    }
}

@media (max-width: 1295px) {
    .gallery {
        width: 100%;
    }
}

@media (max-width: 615px) {
    .dasboard-product-container {
        width: 100%;
    }
    .dasboard-image-container {
        width: 100%;
        justify-content: center;
    }
    .item {
        display: block
    }
    img {
        margin-top: 7px
    }
}